html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
}

/* ------------------------------------------- general */

.row {
    padding: 2.5em .5em;
}

h1 {
    margin: 0;
}

.--section-heading {
    padding-bottom: 1em;
    font-size: 1.5em;
}

h3 {
    font-size: 1.2em;
    font-weight: 600;
}

.--uppercase {
    text-transform: uppercase;
}

.--letter-space {
    letter-spacing: .25em;
}

.--grey-container {
    background-color: #3D444A;
    color: #fff;
}

/* ------------------------------------------- navbar */

.navbar {
    padding: 0;
    background: #fff;
    border-bottom: 2px solid #bbb;
}

.--navbar-logo {
    width: 50px;
    margin: 1em auto;
}

.--img-logo {
    max-width: 100%;

}

.navbar-toggler {
    position: absolute;
    top: 0;
    right: .5em;
    margin-top: 20px;
}

.navbar-toggler span {
    font-size: 1.4em;
    color: rgba(0,0,0,0.4);
}

.navbar button:focus {
    outline: none;
}

.navbar-nav {
    padding-bottom: .7em;
}

.navbar-nav li:nth-child(6) {
    margin-top: 0;
}

.--menu-item {
    text-align: center;
}

.--menu-item a span {
    text-transform: initial;
    letter-spacing: 1px;
    font-weight: 300;
}

.--menu-link {
    display: block;
    font-weight: bold;
    color: #000;
    padding: .5em;
    transition: color .25s ease-in-out;
}

.--menu-link:hover {
    color: rgba(0,0,0,0.4);
    text-decoration: none;
}

.--social-nav {
    margin-top: .2em;
}

.--social-links {
    text-align: center;
    list-style-type: none;
    padding: 0;
}

.--social-links-item {
    display: inline-block;

}

.--social-links-item a {
    margin: 0 .5em;
}

.--social-links-item a i {
    color: #3D444A;
    font-size: 1em;
    width: 1.5em;
    height: 1.5em;
    transition: color .25s ease-in-out;
}

.--social-links-item a i:hover {
    color: rgba(0,0,0,0.4);
}

/* ------------------------------------------- home */

.--landing {
    margin: 17em 0;
    padding: 0;
}

.--landing h1 {
    font-size: 4em;
}

.--landing p {
    font-size: 1.5em;
    font-weight: 400;
}

/* ------------------------------------------- about */

.--about-page-section {
    text-align: center
}

.--about-portrait {
    width: 150px;
    border: 2px solid #fff;
    border-radius: 50%;
    margin-bottom: 1em;
}

.--twitter {
    margin-bottom: 1.75em;
}

/* ------------------------------------------- clients */

.--client-card-frame {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.--client-card {
    background-color: #F3F3F3;
    padding: 1em;
    margin-bottom: 1.75em;
    border-radius: 20px;
}

.--client-link {
    display: block;
    text-align: center;
    padding: 1em 0;
}

.--client-logo {
    max-width: 60%;
    max-height: 150px;
}

.--client-title {
    padding: .5em 0;
}

/* ------------------------------------------- contact */

.--contact-page-form {
    text-align: center;
}

.form-control {
    background-color: #3d444a;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 2em;
}

.form-control::placeholder {
    color: #fff;
    opacity: .6;
}

.form-control:focus {
    background-color: inherit;
    color: inherit;
}

.btn {
    background-color: #fff;
    width: 50%;
    border-radius: 20px;
    font-weight: 500;
    transition: background-color .25s ease-in-out;
}

.btn:hover {
    background-color: #eee;
}

/* ------------------------------------------- footer */

.--footer .col {
    text-align: center;
}

.--social-footer {
    padding-top: 1.2em;
}

.--social-footer-items a i {
    font-size: 1.5em;
}

.--copyright {
    font-size: .8em;
    margin: 0;
}

/* ------------------------------------------- media queries */

@media only screen and (min-width: 576px) {

    .--client-card-frame {
        display: flex;
        justify-content: space-evenly;
    }

    .--client-card {
        width: 40%;
    }

    .--form-container {
        text-align: center;
    }

    .--contact-page-form {
        width: 50%;
        margin: 0 auto;
    }

}

@media only screen and (min-width: 992px) {

    .container-fluid {
        width: 80%;
    }

    .navbar {
        padding: 0 2em;
    }

    .navbar-nav {
        margin: .8em 0 0 1em;
    }

    .navbar-nav li:nth-child(6) {
        position: absolute;
        top: 1.6em;
        right: 1.5em;
    }

}

@media only screen and (min-width: 1200px) {

    .container-fluid {
        width: 70%;
    }

}

@media only screen and (min-width: 1600px) {

    .btn {
        width: 30%;
    }
}